---
- name: Publish PSSDK to Maven Central
  hosts: localhost
  connection: local
  gather_facts: no

  vars:
    ansible_python_interpreter: "{{ ansible_playbook_python }}"
    app:
      name: "pssdk"

  tasks:
    - name: "Publish PSSDK to Maven Central"
      command: "./gradlew publishToMavenCentral"
      args:
        chdir: "{{ playbook_dir }}/../"
      environment:
        ORG_GRADLE_PROJECT_mavenCentralUsername: "{{ lookup('hashi_vault', 'secret=intdev/data/intdev/central.sonatype.com/token:username')}}"
        ORG_GRADLE_PROJECT_mavenCentralPassword: "{{ lookup('hashi_vault', 'secret=intdev/data/intdev/central.sonatype.com/token:password')}}"
        ORG_GRADLE_PROJECT_signingInMemoryKey: "{{ lookup('hashi_vault', 'secret=intdev/data/intdev/pgp:private')}}"
        ORG_GRADLE_PROJECT_signingInMemoryKeyId: "{{ lookup('hashi_vault', 'secret=intdev/data/intdev/pgp:id')[-8:] }}"
        ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: "{{ lookup('hashi_vault', 'secret=intdev/data/intdev/pgp:password')}}"
